* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Lora", serif;
}

*:focus {
    outline: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.mainNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
}

.navItem, .logo {
    margin: 0 10px;
    padding: 10px;
    font-size: .75rem;
}

.logo {
    font-family: "Open Sans Condensed", sans-serif;
}

.navItem:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.navItem {
    color: #000;
    text-decoration: none;
    font-family: "Open Sans Condensed", sans-serif;
}

.hero {
    position: relative;
    height: 90vh;
    width: 100%;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vh;
    height: 80vh;
    z-index: -10;
    background-color: #FFF04C;
    opacity: .8;
    border-radius: 50%;
}

.heading {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lora', sans-serif;
    font-size: 1.25rem;
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: normal;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.boldName, .headingLink {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    color: #000;
}

.socialIcons {
    margin: 10px 10px 0;
}

.socialIcons a {
    color: #000;
}


.down-arrow {
    display: none;
}

.port-item {
    height: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0, .1);
    margin: 50px auto;
    padding: 10px;
}


.image-1,
.image-2 {
    width: 100%;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.image-1 {
    background-image: url(Images/pet_shop_hp.png);
}

.image-2 {
    background-image: url(Images/ping_desktop.png);
}

.text {
    width: 100%;
    text-align: center;
    margin: auto 0;
}

.text h1 {
    margin-bottom: 10px;
    font-family: "Open Sans Condensed", sans-serif;
}


.text p {
    width: 80%;
    margin: 0 auto 10px;
    font-family: "Lora";
}

.more-btn {
    width: 150px;
    height: 50px;
    background-color: #FFF04C;
    border-radius: 25px;
    border: none;
}

.more_link {
    font-family: "Open Sans Condensed";
    color: #000;
    font-size: 1.25rem;
    text-decoration: none;
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
}

.tech-stack{
    margin-top: 10px;
    font-size: 1.5rem;
}

.tech-stack i {
    margin: 0 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.close {
    width: 20%;
    text-align: right;
    float: right;
    font-size: 1.25rem;
}

#moreInfo-1,
#moreInfo-2 {
    display: none;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    box-shadow: 4px 4px 10px 20px rgba(0, 0, 0, .2);
    overflow: auto;
}


.moreItem1,
.moreItem2 {
    width: 85%;
    margin: 50px auto;
    text-align: center;
}

.moreImg {
    margin: 20px auto;
    height: auto;
    width: 100%;
}

.img {
    height: auto;
    width: 100%;
    border: 2px solid black;
}

.moreItem1 h1,
.moreItem2 h1 {
    margin: 10px;
    font-family: "Open Sans Condensed", sans-serif;
}

.moreItem1 h3,
.moreItem2 h3 {
    text-align: left;
    margin: 10px;
    font-family: "Open Sans Condensed", sans-serif;
}

.moreItem1 p,
.moreItem2 p {
    margin: 10px;
}

.moreItem1 ul,
.moreItem2 ul {
    text-align: left;
}

.moreItem1 li,
.moreItem2 li {
    margin-left: 60px;
}

.source,
.site {
    height: 40px;
    width: 120px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.source {
    color: white;
    background-color: black;
}

.site {
    
    color: black;
    background-color: white;
}

.source a {
    color: white;
    text-decoration: none;
    font-family: "Open Sans Condensed", sans-serif;
    display: block;
    height: 100%;
    width: 100%;
}

.site a {
    color: black;
    text-decoration: none;
    font-family: "Open Sans Condensed", sans-serif;
    display: block;
    height: 100%;
    width: 100%; 
    outline: 2px solid black; 
    outline-offset: -2px;
}

.source:active,
.site:active {
    transform: scale(.95);
}

.source:focus,
.site:focus {
    outline: none;
}

figcaption {
    font-size: .75rem;
    font-family: "Open Sans Condensed", sans-serif;
}

.fem {
    font-family: "Open Sans Condensed", sans-serif;
    color: #000;
}

.footer {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

@media (min-width: 800px) {

    .heading {
        font-size: 1.5rem;
    }

    .port-item {
        padding: 0;
    }

    #moreInfo-1,
    #moreInfo-2 {
        display: none;
        z-index: 100;
        height: 100vh;
        width: 70vw;
        position: fixed;
        top: 0;
        right: 0;
        background-color: white;
        box-shadow: 4px 4px 10px 20px rgba(0, 0, 0, .2);
        overflow: auto;
}

    .port-item {
        flex-direction: row;
        justify-content: space-between;
    }
    .image-1,
    .image-2 {
        width: 50%;
        height: 400px;
        margin: 10px;
    }

    .text {
        width: 50%;
    }
    
    .down-arrow {
        display: block;
        font-size: 3rem;
        position: absolute;
        top: 40vh;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
    }

    .close {
        display: none;
    }

}